@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
}

.main {
    -fx-background-color: rgb(240, 240, 240);
}

.sidebar {
    -fx-background-color: rgb(230, 230, 230);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .25), 25, 0, 0, 0);
}

.button {
    -fx-background-color: rgb(230, 230, 230);
    -fx-font-size: 16px;
    -fx-font-family: 'Roboto Regular', sans-serif;
}

.button:hover {
    -fx-background-color: rgb(220, 220, 220);
    -fx-cursor: hand;
}

.active {
    -fx-background-color: rgb(220, 220, 220);
    -fx-font-family: 'Roboto Bold', sans-serif;
}